<!-- <nav class="navigation" role="navigation">
  {% assign default_paths = site.pages | map: "path" %}
  {% assign page_paths = site.data.navigation_pages.pages | default: default_paths %}
  <a class="navigation__branding" href="{{ "/" | relative_url }}">
    <span class="navigation__logo"><img src="{{ "/assets/images/glyph/logo.svg" | relative_url }}" class="navigation__logo-img" alt=""></span>
    <span class="navigation__title">{{ site.title | escape }}</span>
  </a> --><!-- 
  <div class="navigation__links">
    {% if page_paths %}
      {% for nav_page in page_paths %}
            <a class="navigation__link{% if nav_page.url == page.url %} navigation__link--active{% endif %}" href="{{ nav_page.url | relative_url }}">{{ nav_page.title | escape }}</a>
      {% endfor %}
    {% endif %}
  </div> -->

    <div class="navigation__links">
      <a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
    </div>
<!-- </nav> -->
