---
layout: default
---
<article class="post">
    {%- if site.posts.size > 0 -%}
    <header class="post-header">
        <h1>{{ page.title | default: "News" }}</h1>
        <div class="description">
            {{ content }}
        </div>
    </header>
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
            {% include post_summary.html post=post %}
        </li>
        {%- endfor -%}
    </ul>
    <!-- <div class="news-prefooter"> -->
<!--     <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    
    <div id="tag-cloud">
       <h4>tags</h4>
        {{ site | tag_cloud }}
    </div>
    <!-- </div> -->
    {%- endif -%}
</article>