---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

<head>
    <link href="{{ "/assets/app.css" | relative_url }}" rel="stylesheet">
</head>

<body>
    <div class="container citation-container">
    	<h4 class="paper-year">{{ page.entry.year }}</h4>
        <h2 class="paper-title">{{ page.entry.title }}</h2>
        <p class="paper-authors">{{ page.entry.author }}</p>
        {%- if page.entry.url -%}
        <p><a href="{{ page.entry.url }}" class="paper-link">{{ page.entry.url }}</a></p>
        {%- elsif page.entry.doi -%}
        <p><a href="https://doi.org/{{ page.entry.doi }}" class="paper-link">{{ page.entry.doi }}</a></p>
        {%- endif -%}
        <p class="paper-abstract">{{ page.entry.abstract }}</p>
		<h4>Cite this paper:</h4>
        <pre>{{ page.entry.bibtex }}</pre>
    </div>
</body>

</html>