.generative-thumbnail {
width: 100%;
height: 100%;
display: block;
}

#tag-cloud{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}