
// Load fonts
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300|Open+Sans:300,700|Cutive+Mono|Nixie+One|Montserrat:400,700,900|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

// Variables




// width of the largest container
$container-width: 1000px;
$title-container-width: 80%;
$container-padding: 2rem;
$container-padding-mobile: 1rem;

$post-pad-left: $container-padding*2;

// Width of the content area for .wrapper -- for smaller, text areas
$content-width:    1000px !default;

// Page Titles
$title-width: 100%;
$title-top: 6rem;
$title-top-mobile: 1.5rem;
$title-right-mobile:7em;
$title-shift: -50%;
// page title on the homepage
$title-top-home: 15rem;
$title-top-home-mobile: 10rem;
$title-width-home: 100%;
$title-width-mobile: 75%;
$title-left-home: 64px;
$title-left-home-mobile: 16px;
$title-home-margin-left: 15%;

$red-accent-color: lighten(#EB1555,5%);
$ltblu-accent-color: #8ECAEF;
$ylw-accent-color: #F9CD0F;
$grn-accent-color: rgb(64, 211, 117);

$accent-color: $red-accent-color;

//$primary-color:    #FF385A;
$primary-color:    $accent-color;
$text-color:       #eee;
$link-color:       $accent-color;
$text-color:       #eee !default;
// $primary-dark: darken($primary_color, 45%) !default;
$primary-dark: darken($primary_color, 25%) !default;

$background-color: #0B0B0B !default;
$background-lighter: lighten($background-color,5%);
$brand-color:      #2a7ae2 !default;
$grey-color:       #CCCCCC !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$footer-color:     darken($background-color, 2.5%);

// Fonts
$body-font: "Work Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$header-font: "Raleway",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$nav-font: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$detail-font: "Raleway",sans-serif;
$mono-font: "Cutive Mono",monospace;

$font-size-home: 8rem;
$font-title: 6.5rem;
$font-xl: 6em;
$font-lg: 4em;
$font-mll: 3em;
$font-ml: 2em;
$font-md: 1.5em;
$font-sm: 1em;
$font-smrem: 3rem;
$font-xs: 16px;
$font-xxs: 12px;
$font-archive: 14px;

$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;
$table-text-align: left !default;
$list-spacing: 10px;




// Nav toggle
// nav toggle
$nav-toggle-top: 2rem;
$nav-toggle-top-mobile: 4rem;
$nav-toggle-left: $title-left-home;
$nav-toggle-left-mobile: $title-left-home-mobile;
$nav-toggle-width: 35px;


// Navigation overlay
$title-weight: 700;
$title-spacing: 4px;
$nav-padding: 100px;
$nav-padding-top: 50px;
$nav-margin-left: 30px;
$nav-margin-left-mobile:20px;
$nav-weight: 700;
$nav-n: 5;
$nav-delay: 0.1;
$nav-link-duration: 0.5;
$nav-slidein: 0.2;
$nav-font-size: $font-lg;
$nav-font-size-mobile: 2.5em;
$nav-heading-left: $spacing-unit;
$nav-heading-left-mobile: $spacing-unit;


// Sizes of different media
$half-screen:      840px;
$on-palm:          768px !default;
$on-laptop:        800px !default;
$col-md-width:     992px !default;
$three-quarter-screen: 1200px;


// Mixins -- sorta like functions that can be used elsewhere in the style



@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }

@mixin container($padding, $width:$container-width) {
  max-width: $width;
  padding: 0 $padding;
  margin: auto;
}

@mixin relative-font-size($ratio) {
  font-size: $font-xs * $ratio;
}


// The rest of the style is split out into subfiles

@import 
  'base.scss',         // basic styling properties for all pages
  'layout.scss',       // layouts and spacing
  'navigation.scss',   // styles for the navigation
  'components.scss',    // styles for page-specific components
  'min_syntax_highlighting.scss', // syntax highlighting borrowed from minima
  'citation_detail.scss', // iframe styling for embedded citation details
  'portraits.scss', // classes to pop in portaits
  'gallery.scss',
  'blog.scss',
  'highlighting/monokai.scss'
;
