.navigation {

  @include container($container-padding);
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,0.3);

  // margin-top: 10px;

  // padding-bottom: 10px;
  border-bottom: 1px solid lighten($link-color, 40%);

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__branding {
      display: flex;
      // background-color: $text-color;
      // color: $background-color;
      // text-transform: uppercase;
      align-items: flex-end;
      text-align: right;
      padding: 1rem 2rem 1rem 2rem;
  }

  &__title {
    color: $text-color !important;
    font-size: $font-md;
    font-family: $header-font;
    font-weight: 700;
    float: right;
    // position: absolute;
    top:10%;
    text-align: right;
    // color: $background-color !important;
  }

  &__logo {
    margin-right: 10px;
  }

  &__logo-img {
    height: 40px;
    width: 40px;
    margin-right: 10px;

  }

  &__links {
    display: flex;
    flex-direction: row;
    // text-transform: uppercase;
    padding-right:30px;
  }

  &__link {
    margin-left: 30px;
    font-size: $font-sm;
    font-family: $nav-font;
    font-weight: 300;
    
    mix-blend-mode: screen;
    

    &--active {
      color: $primary-color;
    }
  }


  // @include media-query($on-palm) {
  //   position: absolute;
  //   top: 9px;
  //   right: $spacing-unit / 2;
  //   background-color: $background-color;
  //   border: 1px solid $grey-color-light;
  //   border-radius: 5px;
  //   text-align: right;

  //   label[for="nav-trigger"] {
  //     display: block;
  //     float: right;
  //     width: 36px;
  //     height: 36px;
  //     z-index: 2;
  //     cursor: pointer;
  //   }

  //   .menu-icon {
  //     display: block;
  //     float: right;
  //     width: 36px;
  //     height: 26px;
  //     line-height: 0;
  //     padding-top: 10px;
  //     text-align: center;

  //     > svg {
  //       fill: $grey-color-dark;
  //     }
  //   }

  //   input ~ .trigger {
  //     clear: both;
  //     display: none;
  //   }

  //   input:checked ~ .trigger {
  //     display: block;
  //     padding-bottom: 5px;
  //   }

  //   .page-link {
  //     display: block;
  //     padding: 5px 10px;

  //     &:not(:last-child) {
  //       margin-right: 0;
  //     }
  //     margin-left: 20px;
  //   }
  // }

}