.navigation {

    @include container($container-padding);
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid lighten($link-color, 40%);

    &__container {
        display: flex;
        flex-direction: column;
    }


}

/* ==========================================================================
Nav Overlay
========================================================================== */
/* Overlay style */

$underline-animate: all 0.2s ease-in-out;

.overlay {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: adjust-color($background-color, $alpha: -.1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;

    @include media-query($three-quarter-screen) {
        max-width: 100%;
        flex-wrap: wrap;
        padding-bottom: 1rem;
        overflow: auto;

        &__links {}

        &__detail {}
    }

    transition: all #{$nav-slidein}s cubic-bezier(0.79, 0.33, 0.14, 0.53);
    transform: translateX(-100%);

    &__links {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        padding: $nav-padding;
        padding-top: $nav-padding-top;

        @include media-query($three-quarter-screen) {
            max-width: 100%;
            width: 100%;
            padding-bottom: 1rem;
            height: auto;
            padding: 0;

        }

        &__branding {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            text-align: left;
            padding: 2rem 2rem 2rem 2rem;
            // padding-left: $nav-heading-left;
            border-bottom: 1px solid lighten($link-color, 40%);
            
            @include media-query($three-quarter-screen){
                padding-left: $nav-heading-left;

            }


            @include media-query($on-palm){
                padding-left: $nav-margin-left-mobile;
                padding-bottom: 1.5rem;
            }
        }


        &__title {
            color: $text-color !important;
            font-size: $font-ml;
            font-family: $header-font;
            font-weight: 200;
            float: left;
            top: 10%;

            text-align: left;
            @include media-query($on-palm){
                line-height:1.5;
            }
        }

        &__logo {
            margin-right: 10px;
        }

        &__logo-img {
            height: 80px;
            width: 80px;
            margin-bottom: 10px;

        }



        &__link {
            margin-left: $nav-margin-left;
            font-size: $font-smrem;
            font-family: $nav-font;
            font-weight: 300;
            line-height: 1.2;
            mix-blend-mode: screen;


            @include media-query($on-palm){
                margin-left: $nav-margin-left-mobile;
            }

            &--active {
                color: $primary-color;
            }
        }
    }

    &__detail {
        height: 100vh;
        bottom: 30px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // padding: 100px 100px 100px 100px;
        padding: 2rem 1rem 2rem 4rem;
        font-family: $detail-font;
        font-weight: 300;
        font-size: $font-xs;

        @include media-query($three-quarter-screen) {
            max-width: 100%;
            width: 100%;
            // padding-left: 30px;
            padding: 0;
            // text-align: left;
            // padding-bottom: 1rem;
            height: auto;
        }

        @include media-query($on-palm){
            padding-top: 30px;
        }

        & .site-description {
            color: darken($text-color, 10%);
            padding-left: $nav-margin-left-mobile;
            padding-right: 30px;
            border-bottom: 1px solid lighten($link-color, 40%);

        }

        & .site-social {
            padding-top: $spacing-unit;
            padding-left: 0;
        }


    }



    // nav {

    // }

    nav ul {
        position: relative;
        margin: 0 auto;
        margin-top: 2rem;
        // padding: 100px;
        list-style: none;
        height: 100%;

        li {
            display: block;
            width: 100%;
            float: left;
            margin-right: 20px;
            opacity: 0;
            transform: translate3d(0, -80px, 0);
            transition: transform 0.5s, opacity 0.5s;
            transition-duration: #{$nav-link-duration}s;


            a {
                display: block;
                width: 100%;
                color: $text-color;
                text-transform: uppercase;
                font-size: $nav-font-size;
                font-family: $nav-font, sans-serif;
                font-weight: $nav-weight;
                transition: all 300ms ease-in-out;
                opacity: 0.0;
                transition-duration: #{$nav-link-duration}s;
                
                @include media-query($on-palm){
                    font-size: $nav-font-size-mobile;
                }



                &:hover,
                &:focus {
                    // border-color: #ff0000;
                    // background-color: #ff0000;
                    color: $accent-color;
                    transition-duration: 100ms;
                    text-decoration: none;

                }


                &:hover img,
                &:focus img {
                    filter: brightness(0);
                }
            }
        }
    }


    &.open {

        transform: translateX(0%);

        nav ul {

            @for $i from 0 to $nav-n {
                & li:nth-child(#{$i+1}) {
                    transition-delay: #{($i * $nav-delay)+$nav-slidein}s;
                }
            }


            li {
                opacity: 1;

                transform: translate3d(0, 0, 0);

                a {
                    opacity: 1;

                }
            }
        }
    }

}



.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    li+li {
        padding-top: 5px;
    }
}


.footer-col-wrapper {
    @include relative-font-size(0.9375);
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {

    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

/* Menu style */

/* Effects */

/* ==========================================================================
Navigation
========================================================================== */
.nav-toggle {
    position: absolute;
    top: $nav-toggle-top + $title-top;
    right: $title-left-home;
    z-index: 999999;
    padding: 10px 35px 16px 0px;
    cursor: pointer;

    @include media-query($on-palm){
        top: $nav-toggle-top-mobile;
        right: $title-left-home-mobile;
    }


    &:focus {
        outline: none;
    }

    & span,
    & span:before,
    & span:after {
        content: '';
        position: absolute;
        display: block;
        width: 35px;
        height: 5px;
        border-radius: 1px;
        background: $text-color;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }

    & span {

        &:before {
            top: -10px;
        }

        &:after {
            bottom: -10px;
        }
    }

    &.active span {
        background-color: transparent;
        content: '';
        position: absolute;
        display: block;
        width: 35px;
        height: 5px;
        border-radius: 1px;
        background: #000;
        cursor: pointer;

        &:before,
        &:after {
            top: 0;
        }

        &:before {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &:after {
            top: 10px;
            -webkit-transform: translateY(-10px) rotate(-45deg);
            -ms-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
        }
    }
}


.navicon {
    position: relative;
    height: 26px;
}

.navicon p {
    margin: 1px 50px 0 0
}

.navicon-fixed {
    position: fixed;
    top: 59px;
    right: 143px;
}

.nav-wrapper {
    padding: 20px 0 0 0;
}